*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
.container{
    display: flex;  
    justify-content: center;
    align-items: center;
}
.main{
    width: 400px;
        height: 600px;
        overflow: hidden;
        box-shadow: 0px 0px 5px lightgrey;
        background-image: linear-gradient(white,#0cb7a754);
    }
    
.des{
    background-image:linear-gradient(rgb(65,150,233),rgb(36,205,222));
    width: 102%;
    height: 444px;
    transform: rotate(56deg);
    margin-top: -231px;
    margin-left: -46px;
    border-radius: 0 0 10% 0;
    position: relative;
}
.pho{
   
    width: 118px;
    height: 118px    ;
    position: absolute;
    bottom: 168px;
    right: -59px;
    transform: rotate(34deg);
    border-radius: 50%;
}
.pho>img{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: rotate(-91deg);
}
.about{
  
    width: 100%;
    height: 35%;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ele{
   
    width:90% ;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.g1{
    
    width: 212px;
   
}
p{
    font-family: cursive;
}
label{
    font: caption;
}
.doc{
    width: 100%;
    height: 15%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 200px;
    height: 40px;
    border-radius:15px;
    background-color: #0caaeb80;
    border: none;
    font-size: 20px;
    text-align: center;
    padding-top: 7px;
}